@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    var grid = new WebGrid(source: Model, canPage: true,defaultSort: "TenSanPham", rowsPerPage: 3);
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Sản Phẩm</h2>

@grid.GetHtml(
    tableStyle: "table table-bordered table-striped",
    headerStyle: "table-header",
    alternatingRowStyle: "table-alternate-row",
    columns: grid.Columns(
        grid.Column("TenSanPham", "Tên Sản Phẩm"),
        grid.Column("MoTa", "Mô Tả"),
        grid.Column("LoaiSanPham", "Loại Sản Phẩm"),
        grid.Column("AnhSanPhamHtml", "Ảnh", format: (item) => new HtmlString(item.AnhSanPhamHtml)),
        grid.Column("SoLuong", "Số Lượng"),
        grid.Column("DonGia", "Đơn Giá", format: (item) => String.Format("{0:0,0 VNĐ}", item.DonGia)),
        grid.Column("DonViTinh", "Đơn Vị Tính")
    )
)
