<div class="form-group">
    <label for="MaQG" class="form-group__label">Quốc gia</label>
    <select id="MaQG" name="MaQG" class="form-control">
        <option value="">Chọn quốc gia</option>
    </select>
</div>
<div class="form-group">
    <label for="MaRAM" class="form-group__label">RAM</label>
    <select id="MaRAM" name="MaRAM" class="form-control">
        <option value="">Chọn dung lượng RAM</option>
    </select>
</div>
<!-- Các trường khác -->
