<div class="form-group">
    <label for="MaCPU" class="form-group__label">CPU</label>
    <select id="MaCPU" name="MaCPU" class="form-control">
        <option value="">Chọn CPU</option>
    </select>
</div>
<div class="form-group">
    <label for="MaRAM" class="form-group__label">RAM</label>
    <select id="MaRAM" name="MaRAM" class="form-control">
        <option value="">Chọn dung lượng RAM</option>
    </select>
</div>
<!-- Các trường khác -->
